* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background: #f7e0e0;
}
.common-btn {
    border: none;
    background: orange;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 15px;
}
.g3-arcitect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}
nav>ul {
    display: flex;
    gap: 30px;

}
nav>ul>li {
    list-style: none;

}
nav>ul>li>a {
    text-decoration: none;
    color: #494747;
}
.header-text {
    margin: 30px ;
    text-align: center;
}
.first-img {
    width: 80%;
    margin-left: 120px;
    margin-bottom: 20px;
}

/* main quick feature*/
main{
    margin-top: 50px;
}
.img-feature{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    padding: 80px;
    margin-left: -120px;
}
.quick-feature{
    display: flex;
    padding:50px ;
    align-items: center;
    margin-left: 100px;
}
.text-feature>p{
    
   font-size: small;

}
.text-feature{
   margin-left: -25px;
}

.f-text{
    color: orange;
}

/*all-feature */
.all-feature{
    display: flex;
    padding: 215px;
    justify-content: space-around;
    margin-top: -120px;
    margin-left: -80px;
}

.artical-side{
    width: 70%;
}
.text-part {
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 0px 0px 20px rgb(233, 222, 222);
    margin-bottom: 10px;
    font-size: small;
    margin-right: 9px;
    padding: 10px 10px;
}
.architect-img{
    margin-left: 80px;
    width: 100%;
}

.artical-head {
    margin-left: -30px;
    margin-bottom: -10px;
    margin-top: -20px;
}

.artical-head>h1{
    border-left: 5px solid rgb(255, 123, 0);
    padding-left: 12px;
    
}


.experience-btn {
    position: relative;
    top: -350px;
    left: 615px;
}
.exp-btn{
    padding: 40px 50px;
    text-align: center;
  

}
.year-exp{
    font-size: xx-large;
    
}
.exp{
    font-size: small;
}





/*fact style*/

.fact-header{
    width: 500px;
    margin-left: 120px;
    margin-bottom: 90px;
    margin-top: -270px;
}
.fact-card-1 {
    border: 1px solid orange;
    padding: 30px 10px;
    width: 170px;
   
}
.fact-card-1>img, h1, h3{
    line-height: 12px;
}

.fact-card-1>h3{
    font-weight: 600;
    opacity: 60%;
}
.fact-card{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin-left: 95px;
    padding: 40px;
    margin-top: -55px;
}


/* sponsors style*/
.sponsors-head{
    text-align: center;
    margin: 60px;
    
}
.sponsors-head>h1{
    font-size: xx-large;
}
.sponsors-head>p{
    font-size: small;
}

.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    opacity: 90%;
    padding: 20px;
}

.footer-section{
    text-align: center;
    background: #fdeaea;
    width: 1125px;
}
.last-section{
    text-align: center;
    padding: 10px 20px;
    margin-left: 85px;
}
.footer-section>p{
    padding: 20px;
    
}

/* responsive style*/
@media screen and (max-width:567px) {
    .g3-arcitect,
    .quick-feature
    {
        margin-left: 20px ;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    nav>ul{
        flex-direction: column;   
      
    }
    .header-text{
        padding: 30px;
        margin-right: 10px;
    }
    .first-img{
        margin-left: 30px;
    }
    .img-feature{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        
    }
    .text-feature
    {
        margin-left: 0;
        padding: 20px;
    }
}
@media screen and (min-width:567px) and (max-width:768px) {
    .g3-arcitect,
    .quick-feature
    {
       flex-direction: column;
       
    }
  
    .header-text{
        padding: 50px;
        margin-right: 35px;
    }
    .first-img{
        margin-left: 40px;
    }
    .img-feature
    {
        width: 100%;
        margin-left: 0;
    }
    .quick-feature{
        margin-left: 0;
        padding: 0;
    }
}